- 👋 Hi, I’m @YexSsy
- 👀 javascript
- 🌱 web developer
- 💞️ I’m looking to collaborate on... 
- 📫 my istegram mehmet.aktnn

<!---
I'm Mehmet, high school 3rd year. I'm a student, I keep learning and improving 
--->
